<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   {% block title %}
    <title>parent</title>
    {% endblock %}
</head>
<body>
    <i><h1 style="color: aqua;">KRITHI SHETTY</h1></i>
    <i><h2><p style="color: blue;">Krithi Shetty was born on 21 September 2003 in Mangalore, Karnataka in a Tulu-speaking family. Krithi Shetty’s age is 17 years in 2021. Her father’s name is Krishna Shetty and her mother’s name is Neeti Shetty. Krithi Shetty began her career as a model at a very young age. She started shooting for many commercials and brands from a very young age.</p></h2></i>
    {% block body_block %}

    {% endblock %}
</body>
</html>